
{% if user.is_authenticated %}
	<a class="navbar-link" href="/gameshop/myAccount">My Account - {{user.username}}</a>
	<a type="button" class="btn btn-default" href="/accounts/logout">Logout</a>
{% else %}
	{% if form.errors %}
		<div id="login-error" class="text-danger"><strong>Incorrect username or password</strong></div>
	{% endif %}
	<div id="login-form">
		<form action="/accounts/login" method="post" class="form-inline">
			{% csrf_token %}
			<div class="form-group">
				<label class="sr-only" for="username">Username</label>
				<input type="text" name="username" class="form-control" id="username" placeholder="Enter username">
			</div>
			<div class="form-group">
				<label class="sr-only" for="password">Password</label>
				<input type="password" name="password" class="form-control" id="password" placeholder="Password">
			</div>
			<input type="hidden" name="next" value="/"/>
			<button type="submit" class="btn btn-success">Log in</button>
			<a type="button" class="btn btn-success" href="/accounts/register">Sign up</a>	  
		</form>
	<div>
{% endif %}
