{% extends "gameshop/__base.html" %}

{% block login %}
{% endblock %}

{% block content %}
<div class="container">
	<h3 class="register-heading">Register a user</h3>

	<form action="/accounts/register" method="post">
		{% csrf_token %}
		<div class="form-group fieldWrapper">
			<div class="row">
				<div class="col-md-2 label-field"><label class="text-info" for="{{form.username.id_for_label}}">Nickname</label></div>
				<div class="col-md-3">{{form.username}}</div>
				<div class="col-md-6 label-field text-warning field-error"><strong>{{form.username.errors}}</strong></div>
			</div>
		</div>
		<div class="form-group fieldWrapper">
			<div class="row">
				<div class="col-md-2 label-field"><label class="text-info" for="{{form.email.id_for_label}}">Email</label></div>
				<div class="col-md-3">{{form.email}}</div>
				<div class="col-md-6 label-field text-warning field-error"><strong>{{form.email.errors}}</strong></div>
			</div>			
		</div>
		<div class="form-group fieldWrapper">
			<div class="row">
				<div class="col-md-2 label-field"><label class="text-info" for="{{form.password1.id_for_label}}">Password</label></div>
				<div class="col-md-3">{{form.password1}}</div>
				<div class="col-md-6 label-field text-warning field-error"><strong>{{form.password1.errors}}</strong></div>
			</div>		
		</div>
		<div class="fieldWrapper">
			<div class="row">
				<div class="col-md-2 label-field"><label class="text-info" for="{{form.password2.id_for_label}}">Repeat password</label></div>
				<div class="col-md-3">{{form.password2}}</div>
				<div class="col-md-6 label-field text-warning field-error"><strong>{{form.password2.errors}}</strong></div>
			</div>
		</div>
		<div class="fieldWrapper">
			<div class="row">
				<div class="col-md-2 label-field"><label class="text-info" for="{{form.group.id_for_label}}">Register as</label></div>
				<div class="col-md-3">
					{% for radio in form.group %}
						<div>{{radio}}</div>
					{% endfor %}
				</div>
			</div>			
		</div>
		<input type="submit" value="Submit" class="btn btn-default"/>

		<div class="fieldWrapper register-errors">
			<ul>
				{% for error in form.non_field_errors %}
					<li class="label-field text-warning"><strong>{{error}}</strong></li>
				{% endfor %}
			</ul>
		</div>
	</form>
</div>
{% endblock %}
