{% extends "gameshop/__base.html" %}

{% block content %}
	<div class="container">
		{% if message %}
		<h3 class="text-success">{{message}}</h3>
		{% else %}
		<h3 class="text-warning">Please follow the link sent to your email to activate the account</h3>
		{% endif %}
		<p class="text-info">Go to <a href="/">Home Page</a> to login</p>
	</div>
{% endblock %}