{% load staticfiles %}
<!DOCTYPE html>

<html>
    <head>
        {% block meta_tags %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1"> <!--mobile friendly adjustment--> 
        {% endblock %}
        <title>
            {% block title %}JS Games Shop{% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{% static "gameshop/css/bootstrap.min.css" %}" type="text/css" />
            <link rel="stylesheet" href="{% static "gameshop/css/base.css" %}" type="text/css" />
        {% endblock %}

        {% block extra_stylesheets %}
        {% endblock %}

        {% block javascript %}
            <script src="{% static "gameshop/js/jquery-1.11.2.min.js" %}" type="text/javascript"></script>
            <script src="{% static "gameshop/js/bootstrap.min.js" %}" type="text/javascript"></script>
        {% endblock %}

        {% block extra_javascript %}
        {% endblock %}

        <script>
        // This is called with the results from from FB.getLoginStatus().
        function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
          // Logged into your app and Facebook.
          testAPI();
        } else if (response.status === 'not_authorized') {
          // The person is logged into Facebook, but not your app.
          document.getElementById('status').innerHTML = 'Please log ' +
            'into this app.';
        } else {
          // The person is not logged into Facebook, so we're not sure if
          // they are logged into this app or not.
          document.getElementById('status').innerHTML = 'Please log ' +
            'into Facebook.';
        }
        }

        // This function is called when someone finishes with the Login
        // Button.  See the onlogin handler attached to it in the sample
        // code below.
        function checkLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
        }

        window.fbAsyncInit = function() {
        FB.init({
        appId      : '347977162071486',
        cookie     : true,  // enable cookies to allow the server to access 
                            // the session
        xfbml      : true,  // parse social plugins on this page
        version    : 'v2.1' // use version 2.1
        });

        // Now that we've initialized the JavaScript SDK, we call 
        // FB.getLoginStatus().  This function gets the state of the
        // person visiting this page and can return one of three states to
        // the callback you provide.  They can be:
        //
        // 1. Logged into your app ('connected')
        // 2. Logged into Facebook, but not your app ('not_authorized')
        // 3. Not logged into Facebook and can't tell if they are logged into
        //    your app or not.
        //
        // These three cases are handled in the callback function.

        FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
        });

        };

        // Load the SDK asynchronously
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // Here we run a very simple test of the Graph API after login is
        // successful.  See statusChangeCallback() for when this call is made.
        function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
          console.log('Successful login for: ' + response.name);
          document.getElementById('status').innerHTML =
            'Thanks for logging in, ' + response.name + '!';
        });
        }
        </script>
    </head>
    <body>
        <div id="main" role="main" class="page-wrapper">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-header">
                        <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#login-register" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button> -->
                        <a class="navbar-brand" href="/">Play.me</a>
                        {% block navigation_links %}
                        
                        {% endblock %}
                    </div>
                    <div id="login-register" class="navbar-right">
                        {% block login %}
                            {% include "accounts/login.html" %}
                        {% endblock %}
                    </div><!--/.navbar-collapse -->
                </div>
            </nav>

            {% block content %}
            {% endblock %}

            <div class="page-buffer"></div>
        </div>
        <footer>
            <p>All rights reserved. 2014-2015</p>
        </footer>
    </body>
</html>