{% extends "gameshop/__base.html" %}

{% block navigation_links %}
<ul class="nav navbar-nav">
	<li><a href="/gameshop/home">Home</a></li>
	<li><a href="/gameshop/about">About</a></li>
	<!-- <li><a href="#">FAQ</a></li> -->
</ul>
{% endblock %}
{% block content %}
	
	{% block core %}  
		<p>This is temporary block. To check how template systems works</p>
	{% endblock %}
{% endblock %}