{% extends "gameshop/__standard_content.html" %}
{% load staticfiles %}

{% block core %}
<div class="container">
	<div class="about-us row">
		<h2 class="text-info">About us</h2>
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non neque in arcu fermentum venenatis. Ut augue est, placerat et egestas sit amet, vestibulum vel risus. Praesent nec nisi vulputate, blandit leo ac, varius ipsum. Donec at lacus eu arcu aliquet accumsan sed vitae turpis. Donec venenatis aliquet iaculis. Mauris pulvinar eu ante quis placerat. In enim ex, imperdiet a massa vel, sagittis vulputate purus. Maecenas tristique erat a malesuada malesuada. Praesent et dignissim libero. Ut non tortor eget purus pretium blandit. Aliquam bibendum quam vel mi sollicitudin cursus. Donec vitae enim sollicitudin nulla venenatis fermentum.</p>
		</div>
	</div>
	<div class="our-team">
		<h3 class="text-info">Our team</h3>
		<div class="media">
			<div class="media-left">
				<a href="https://www.linkedin.com/profile/view?id=313643104">
					<img class="media-object our-team-member" src="{% static "gameshop/images/team/Liza.jpg" %}" alt="Team member photo">
				</a>
			</div>
			<div class="media-body our-team-member-info">
				<h4 class="media-heading">Liza</h4>
				<span class="our-team-member-ln"><a href="https://www.linkedin.com/profile/view?id=313643104"><img src="{% static "gameshop/icons/linkedin.png" %}" alt="LinkedIn contact"/></a></span>
			</div>
		</div>
		<div class="media">
			<div class="media-left">
				<a href="https://www.linkedin.com/profile/view?id=141739753">
					<img class="media-object our-team-member" src="{% static "gameshop/images/team/Amir.jpg" %}" alt="Team member photo">
				</a>
			</div>
			<div class="media-body our-team-member-info">
				<h4 class="media-heading">Amir</h4>
				<span class="our-team-member-ln"><a href="https://www.linkedin.com/profile/view?id=141739753"><img src="{% static "gameshop/icons/linkedin.png" %}" alt="LinkedIn contact"/></a></span>
			</div>
		</div>
		<div class="media">
			<div class="media-left">
				<a href="https://www.linkedin.com/profile/view?id=186526757">
					<img class="media-object our-team-member" src="{% static "gameshop/images/team/Roman.jpg" %}" alt="Team member photo">
				</a>
			</div>
			<div class="media-body our-team-member-info">
				<h4 class="media-heading">Roman</h4>
				<span class="our-team-member-ln"><a href="https://www.linkedin.com/profile/view?id=186526757"><img src="{% static "gameshop/icons/linkedin.png" %}" alt="LinkedIn contact"/></a></span>
			</div>
		</div>
	</div>
</div>
{% endblock %}
