{% extends "gameshop/__standard_content.html" %}

{% block content %}
<div class="container">
	<h3>Add game</h3>

	<form action="/gameshop/addGame" method="post">
		{% csrf_token %}
		<div class="form-group fieldWrapper">
			<div class="row">
				<div class="col-md-2 label-field"><label class="text-info" for="{{form.username.id_for_label}}">Game name</label></div>
				<div class="col-md-3">{{form.game_name}}</div>
				<div class="col-md-6 label-field text-warning field-error"><strong>{{form.game_name.errors}}</strong></div>
			</div>
		</div>
		<div class="form-group fieldWrapper">
			<div class="row">
				<div class="col-md-2 label-field"><label class="text-info" for="{{form.username.id_for_label}}">Game description</label></div>
				<div class="col-md-3">{{form.game_desc}}</div>
				<div class="col-md-6 label-field text-warning field-error"><strong>{{form.game_desc.errors}}</strong></div>
			</div>
		</div>
		<div class="form-group fieldWrapper">
			<div class="row">
				<div class="col-md-2 label-field"><label class="text-info" for="{{form.username.id_for_label}}">Game link</label></div>
				<div class="col-md-3">{{form.game_link}}</div>
				<div class="col-md-6 label-field text-warning field-error"><strong>{{form.game_link.errors}}</strong></div>
			</div>
		</div>
		<div class="form-group fieldWrapper">
			<div class="row">
				<div class="col-md-2 label-field"><label class="text-info" for="{{form.username.id_for_label}}">Game price <spam class="text-warning game-price-comment">(put 0 if you want to make game free)</spam></label></div>
				<div class="col-md-3">{{form.game_price}}</div>
				<div class="col-md-6 label-field text-warning field-error"><strong>{{form.game_price.errors}}</strong></div>
			</div>
		</div>
		<div class="form-group fieldWrapper">
			<div class="row">
				<div class="col-md-2 label-field"><label class="text-info" for="{{form.username.id_for_label}}">Game category</label></div>
				<div class="col-md-3">{{form.game_category}}</div>
				<div class="col-md-6 label-field text-warning field-error"><strong>{{form.game_category.errors}}</strong></div>
			</div>
		</div>
		<input type="submit" value="Submit" class="btn btn-default"/>
		<div class="fieldWrapper register-errors">
			<ul>
				{% for error in form.non_field_errors %}
					<li class="label-field text-warning"><strong>{{error}}</strong></li>
				{% endfor %}
			</ul>
		</div>
	</form>
</div>

{% endblock %}