{% extends "gameshop/__standard_content.html" %}

{% load gameshop_extra_filters %}

{% block content %}
  <div class="container">
    <table class="table table-hover">
      <tr>
        <th>Game name</th>
        <th>Pub. date</th>
        <th># downloads</th>
        <th>Game price</th>
        <th>Category</th>
        <th>Last download</th>
      </tr>
      {% for game in developer_games %}
      <tr>
        <td>{{game.game_name}}</td>
        <td>{{game.game_pub_date}}</td>
        <td>{{game.game_number_downloads}}</td>
        <td>{{game.game_price}}</td>
          {% for category in categories %}
           {% if category|first == game.game_category %}
              <td>{{category|last}}</td>
           {% endif %}
          {% endfor %}
        <td>{{game.game_last_download}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
