{% extends "gameshop/__standard_content.html" %}
{% block content %}
<!-- heading-->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
      <div class="panel panel-default">
        <!-- heading of the panel-->
        <div class="panel-heading">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
          <span class="panel-title">{{game.game_name}}</span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
        </div>
        <!--body-->
        <div class="panel-body">
          <div class="row">
            <!--description -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <h3>Category: {{category_name}}</h3>
              <h3>Price ${{game.game_price}}</h3>
              <p>{{game.game_desc}}</p>
              <!--Buttons-->
              <a href="/payment/buyGame?id={{game.id}}" class="btn btn-default">Buy</a>
            </div>
            <!--Top results -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="panel panel-success">
                <div class="panel-heading">
                  <h4 class="panel-title">Top Results</h4>
                </div>
                <div class="panel-body">
                  <table class="table">
                    <tr>
                      <th>Name</th>
                      <th>Scores</th>
                    </tr>
                    {% for score in game_scores %}
                      <tr>
                        <td>{{score.player.username}}</td>
                        <td>{{score.max_score}}</td>
                      </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
