{% extends "gameshop/__standard_content.html" %}
{% block content %}


    
    <div class="container">
      
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <div class="panel panel-default">
            
            <!-- heading of the panel-->
            
            <div class="panel-heading">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
              <span class="panel-title">{{game.game_name}}</span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
            </div>

            
            <!--body-->
            <div class="panel-body">
              <div class="row">

                <!--description -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <h3>Category: {{category_name}}</h3>
                  <h3>Price ${{game.game_price}}</h3>
                  <p>{{game.game_desc}}</p>
                  <!--Buttons-->
                  {% if has_game %}
                    <a href="/gameshop/deleteGame?id={{game.id}}" class="btn btn-default">Delete</a>
                    <a href="/gameshop/changeGameDetails?id={{game.id}}" class="btn btn-default">Change details</a>
                  {% endif %}
                </div>
                
                <!--Statistics -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <br>
                  <div class="panel panel-success">
                    <div class="panel-heading">
                      <h4 class="panel-title">Statistics</h4>
                    </div>
                    <div class="panel-body">
                      <ul>Downloads - <span>{{game.game_number_downloads}}</span></ul>
                      <ul>Published - <span>{{game.game_pub_date}}</span></ul>
                      <ul>Last Download - <span>{{game.game_last_download|date:"D d M Y"}}</span></ul>
                      {% if has_game %}
                        <ul>Earnings - <span>{{earnings}}</span></ul>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>

            </div>
            

          </div>
        </div>
      </div>
    </div>
{% endblock %}
