{% extends "gameshop/__standard_content.html" %}
{% block content %}
<!-- heading-->
<div id="fb-root"></div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&appId=347977162071486&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
      <div class="panel panel-default">
        <!-- heading of the panel-->
        <div class="panel-heading">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
          <span class="panel-title">{{game.game_name}}</span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
        </div>
        <!--body-->
        <div class="panel-body">
          <div class="row">
            <!--description -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <h3>Category: {{category_name}}</h3>
              <h3>Price ${{game.game_price}}</h3>
              <p>{{game.game_desc}}</p>
              <!--Buttons-->
              {% if can_play %}
                <a href="/gameshop/playGame?id={{game.id}}" class="btn btn-default">Play</a>
                <a href="/gameshop/deleteGame?id={{game.id}}" class="btn btn-default">Delete</a>
              {% else %}
                <a href="/payment/buyGame?id={{game.id}}" class="btn btn-default">Buy</a>
              {% endif %}
            </div>
            <!--Top results -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="panel panel-success">
                <div class="panel-heading">
                  <h4 class="panel-title">Top Results</h4>
                </div>
                <div class="panel-body">
                  <table class="table">
                    <tr>
                      <th>Name</th>
                      <th>Scores</th>
                    </tr>
                    {% for score in game_scores %}
                      <tr>
                        <td>{{score.player.username}}</td>
                        <td>{{score.max_score}}</td>
                      </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
              <div class="fb-share-button" data-href={{ request.build_absolute_uri }} data-layout="button_count"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
