
{% extends "gameshop/__standard_content.html" %}

{% block content %}
  <div class="container">
    <div class="row">

      <!-- My Games -->
      <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
        <h1>My Games</h1>

          <!--choose category-->
          <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" >
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-success dropdown-toggle choose-category" data-toggle="dropdown" aria-expanded="false">Choose Category
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                        <li><a href="/gameshop/playerAccount">All</a></li>
                     {% for category in categories %}
                        <li><a href="/gameshop/playerAccount?category={{category|first}}">{{category|last}}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>

              <!-- Search next to choose category
              <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="candy crush"/>
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go</button>
                  </span>
                </div>
              </div> -->
            
          </div>

          <!--games images -->
          <div class="games-images">
            {% for game in list_of_games %}
              <div class="game-item">
                <a href="/gameshop/gamerGameView?id={{game.game.id}}">{{game.game.game_name}}</a>
                <p>
                  <a href="/gameshop/playGame?id={{game.game.id}}">Play game</a>
                </p>
              </div>
            {% endfor %}
          </div>  
      </div>


      <!-- Me -->
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <h1>Me Gamer</h1>
        <p>I am awesome</p>
        <div class="list-group">
          <!-- <a href="#" class="list-group-item">Payment information</a> -->
          <a href="/gameshop/myGameResults" class="list-group-item">My gamer results</a>
        </div>
      </div>

        

    </div>
  </div>

{% endblock %}
