{% extends "gameshop/__base.html" %}

{% block content %}
	<div class="container">
		<h3 class="text-success">You successfully have added/changed a game!</h3>
		<p>Go back to <a href="/gameshop/myAccount">my account</a></p>
	</div>
{% endblock %}