{% extends "gameshop/__standard_content.html" %}

{% block core %}
	<div class="container index-page">
		<div class="row">
			<div class="col-md-7 top-games">
				<p class="top-games-header">Top games</p>
				
				<!-- List of paid games -->
				<div class="top-games-list">
					<div class="games-images">
						{% for game in games_list %}
		                    <div class="game-item">
		                    	<a href="/gameshop/gameView?id={{game.id}}">{{game.game_name}}</a>
		                    	<p>
		                    		{% if game.game_price %}
			                    		<span>Price: {{game.game_price}}</span><br/>
			                    		<a href="/payment/buyGame?id={{game.id}}">Buy game</a>
		                    		{% else %}
		                    			<span>Free game</span><br/>
			                    		<a href="/payment/addFreeGame?id={{game.id}}">Add game</a>
		                    		{% endif %}
		                    	</p>
		                    </div>
	            		{% endfor %}
                  	</div>
				</div>

			</div>

			<div class="col-md-4 aside-right-panel">
				<!-- List of categories -->
				<p class="categories-header">Categories</p>
				<div class="categories-list">
					<div class="list-group">
						{% if category_ref == '' %}
							<a href="/" class="list-group-item active">All</a>
							{% for category in categories %}
								{% if category_ref == category|first %}
									<a href="/?category={{category|first}}" class="list-group-item active">{{category|last}}</a>
								{% else %}
									<a href="/?category={{category|first}}" class="list-group-item">{{category|last}}</a>
								{% endif %}
							{% endfor %}
						{% else %}
							<a href="/" class="list-group-item">All</a>
							{% for category in categories %}
								{% if category_ref == category|first %}
									<a href="/?category={{category|first}}" class="list-group-item active">{{category|last}}</a>
								{% else %}
									<a href="/?category={{category|first}}" class="list-group-item">{{category|last}}</a>
								{% endif %}
							{% endfor %}
						{% endif %}
					</div>
				</div>

				<!-- Free games -->
				<p class="free-games-header">Free Games</p>
				<div class="free-games-list">
					{% if free_games %}
						{% for game in free_games %}
							<div class="game-item">
								<a href="/gameshop/gameView?id={{game.id}}">{{game.game_name}}</a>
								<p>
									<a href="/payment/addFreeGame?id={{game.id}}">Add game</a>
								</p>
							</div>
	            		{% endfor %}
	            	{% endif %}
				</div>


			</div>

		</div>
	</div>
{% endblock %}