{% extends "gameshop/__standard_content.html" %}

{% block content %}
  <div class="container">
    <table class="table table-hover">
      <tr>
        <th>Game name</th>
        <th>Category</th>
        <th>Max score</th>
        <th>Order num</th>
      </tr>
      {% for game in player_games %}
      <tr>
        <td>{{game.game.game_name}}</td>
        {% for category in categories %}
          {% if category|first == game.game.game_category %}
              <td>{{category|last}}</td>
          {% endif %}
        {% endfor %}
        <td>{{game.max_score}}</td>
        <td>{{game.order_num}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}