{% extends "gameshop/__base.html" %}
{% load staticfiles %}

{% block content %}
	<script>

	var gstate;

	$(document).ready(function () {
		window.addEventListener("message", function(evt) {
			console.log(evt);
			//http://cryptic-harbor-9866.herokuapp.com  http://localhost:8000
			if(evt.data.messageType === "SAVE") {
				gstate = evt.data.gameState;
				game_score = gstate["score"];
				gstate = JSON.stringify(gstate);
				game_id = $("#game-id").attr("value");
				$.ajax({
					type: "get",
					url: "http://cryptic-harbor-9866.herokuapp.com/gameshop/saveGame",
					data: { "gstate": gstate, "game_id": game_id, "game_score": game_score},
				})
				.done(function(msg) {
					alert(msg);
				});
			} else if(evt.data.messageType === "LOAD_REQUEST") {
				game_id = $("#game-id").attr("value");
				$.ajax({
					type: "get",
					url: "http://cryptic-harbor-9866.herokuapp.com/gameshop/loadGame",
					data: { "game_id": game_id},
				})
				.done(function(str) {
					if (str != "none") {
						gstate = JSON.parse(str);
						var msg = {
							"messageType": "LOAD",
							"gameState": gstate
						};
						var ifr = document.getElementById("gameframe");
						ifr.contentWindow.postMessage(msg, "*");
					} else {
						alert("Nothing to load!")
					}
				});
			} else if(evt.data.messageType === "SCORE"){
				game_score = evt.data.score;
				game_id = $("#game-id").attr("value");

				$.ajax({
					type: "get",
					url: "http://cryptic-harbor-9866.herokuapp.com/gameshop/compareScore",
					data: { "game_id": game_id, "game_score": game_score},
				})
				.done(function(str) {
					if (str != "none") {
						alert("You have new record - "+game_score+"!");
						location.reload();
					}
				});
			}
		});
	});
	</script>
	<div class="container">
		<p>You are playing: {{game.game_name}}</p>
		{% if inventoryData.max_score %}
			<p>Your max score: {{inventoryData.max_score}}</p>
		{% else %}
			<p>You don't have any saved scores</p>
		{% endif %}
		<iframe src="{% static 'gameshop/games/' %}{{game.game_link}}" width="500" height="300" id="gameframe" onload="this.focus();"></iframe>
		<input id="game-id" type="text" value="{{game.id}}" hidden="True" />
	</div>
{% endblock %}