{% extends "gameshop/__standard_content.html" %}

{% block content %}
	<div class="container">
		<h3 class="text-danger">{{message}}</h3>
		<p>Return to <a href="/">home page</a></p>
	</div>
{% endblock %}