/*top-fixed nav styles*/
#login-register {
  margin-top: 7px;
}
div#main > nav {
  background-color: whitesmoke;
  margin-bottom: 0px;
}
#login-error, #login-form {
  display: inline-block;
}
#login-error {
  margin-right: 20px;
}
/*END top-fixed nav styles*/

/*header styles*/
.navbar-header > ul li, .web-site-name {
  display: inline-block;
}
/*END header styles*/

/*index page styles - core content*/
.index-page {
  margin-top: 10px;
  }
  /*top-games*/
  .top-games-header {
    height: 40px;
    background-color: rgb(153,204,255);
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
  }

  .game-item{
    width: 150px;
    border: 1px solid rgb(153,204,255);
    border-radius: 10px;
    display: inline-block;
    margin-right: 2%;
    margin-top: 15px; 
    padding: 7px;
  }
  /*END top-games*/

  /*categories*/
  .aside-right-panel {
    margin-left: 10px;
  }
  .categories-header {
    height: 40px;
    background-color: rgb(153,204,255);
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
  }
  /*END categories*/

  /*free-games*/
  .free-games-header {
    height: 40px;
    background-color: rgb(153,204,255);
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
  }
  .game-price-comment {
    font-size: 11px;
  }
  /*END free-games*/

/*END index page styles - core content*/

/*register page styles*/
.fieldWrapper {
  margin-bottom: 15px;
}
.register-errors {
  margin-top: 20px;
}
.register-heading {
  margin-bottom: 40px;
}
.label-field {
  font-size: 16px;
}
.field-error ul li {
  list-style: none;
}
/*END register page styles*/

/*footer styles - adhering footer to the bottom*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.page-wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}
* html .page-wrapper {
    height: 100%;
}
.page-buffer {
    height: 50px;
}
footer {
  height: 50px;
  background-color: whitesmoke;
  padding-top: 20px;
}
 /* aligning text in the center */
  footer p {
    text-align: center;
  }
 /* END aligning text in the center*/
/*END footer styles - adhering footer to the bottom*/

/* about page styles */
.about-us > h2 {
  padding-left: 15px;
}
.our-team-member{
  width: 80px;
}
/* END about page styles */

/* developer page styles*/
.choose-category {
  height: 34px;
}
/*END developer page styles*/

/*game_developer_view page styles*/
  /* screenshots*/
  .screenshots{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px
  }
  /*END screenshots*/

  /*gamer_account_view page styles */
  .choose-category{
    margin-bottom: 10px;
  }
  .games-images{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /*END gamer_account_view page styles*/

  /*gamer_game_page_view styles*/
  .screenshots{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px
  }
  /*END gamer_game_page_view styles*/
/*END game_developer_view page styles */

/*payment page*/
.payment {
  width: 150px;
  display: inline-block;
}
.payment > .btn {
  display: inline-block;
}
/*END payment page*/


/*payment component styles*/
.payment-price {
  margin: 0px 20px;
  font-weight: bold;
}
/*END payment component styles*/