{% extends "gameshop/__base.html" %}

{% block content %}
	<div class="container">
		<h3 class="text-warning">You canceled the payment. Go back to store!</h3>
		<p>Go back to <a href="/gameshop/myAccount">my account</a></p>
	</div>
{% endblock %}