{% extends "gameshop/__base.html" %}

{% block content %}
	<div class="container">
		<h3 class="text-danger">Unable to proceed payment. Please try again!</h3>
		<p>Go back to <a href="/gameshop/myAccount">my account</a></p>
	</div>
{% endblock %}