{% extends "gameshop/__standard_content.html" %}

{% block content %}
    <div class="container">
        <h3 class="text-success">Would you like to buy that game?</h3>

        <form action="http://payments.webcourse.niksula.hut.fi/pay/" method="POST">
            <input type="hidden" name="pid" value="{{game.id}}" />
            <input type="hidden" name="sid" value="larwsdkey" />
            <input type="hidden" name="success_url" 
                    value="http://cryptic-harbor-9866.herokuapp.com/payment/success" />
            <input type="hidden" name="cancel_url" 
                    value="http://cryptic-harbor-9866.herokuapp.com/payment/cancel" />
            <input type="hidden" name="error_url" 
                    value="http://cryptic-harbor-9866.herokuapp.com/payment/error" />
            <input type="hidden" name="checksum" 
                    value="{{checksum}}" />

            <label for="id_amount">Amount</label>
            <span class="payment-price"> {{game.game_price}} </span> 
            <input type="hidden" id="id_amount" name="amount" value="{{game.game_price}}" class="form-control payment"/>
            <input type="submit" value="Accept Payment" class="btn btn-default"/>
        </form>
    </div>
    <!--http://localhost:8000  http://cryptic-harbor-9866.herokuapp.com-->
{% endblock %}