{% extends "gameshop/__base.html" %}

{% block content %}
	<div class="container">
		<h3 class="text-success">You added game {{game.game_name}} to your inventory! Congratulations!</h3>
		<p>Go back to <a href="/gameshop/myAccount">my account</a></p>
	</div>
{% endblock %}